<?xml version="1.0"?>
<config>
  <modules>
    <Star_Giftmodule>
      <version>0.1.0</version>
    </Star_Giftmodule>
  </modules>
    <frontend>
        <routers>
			<giftmodule>
                <use>standard</use>
                <args>
                    <module>Star_Giftmodule</module>
                    <frontName>giftmodule</frontName>
                </args>
            </giftmodule>
        </routers>
     </frontend>
  <global>
    <helpers>
      <giftmodule>
        <class>Star_Giftmodule_Helper</class>
      </giftmodule>
    </helpers>
  </global>
</config> 