@font-face {
    font-family: AvenirNextCondensed;
    /*src: url(fonts/cufonfonts/AvenirLTStd-Light.otf);*/
    src: url(fonts/AvenirNextCondensed/Avenir_LT_35_Light.ttf);
}

#tips-bg{
    margin-top: 0;
}

.tips_outter{
    margin-top: 150px;
}

.recommendation p{
    font-family: AvenirNextCondensed;
    color: #706f6f;
    margin-left: auto;
    margin-right: auto;
}

input#email {
    font-size: 40px;
}

.tip-blurb {
    line-height: 35px;
}

.tip-answer span{
    /*line-height: 40px;*/

}

.tip-content{
    text-align: center;
}