* {
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-o-user-select: none;*/
    /*user-select: none;*/
    /*outline:0;*/
}

html,
body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background-image: url(../img/pages/_all/bg.jpg);*/
    background-color: white;

}

@font-face {
    font-family: AvenirNextCondensed;
    /*src: url(fonts/cufonfonts/AvenirLTStd-Light.otf);*/
    src: url(fonts/AvenirNextCondensed/Avenir_LT_35_Light.ttf);
}

@font-face {
    font-family: AdobeDevanagari-Italic;
    src: url(fonts/AdobeDevanagari-Italic.otf);
    /*src: url(fonts/AdobeDevanagari-Regular.otf);*/
}

#toplogo {
    height: 26px;
    float: none;
    text-align: center;
    left: 50%;
    position: absolute;
    margin-left: -35px;
    margin-top: -6px;
}

nav {
    width: 100%;
    height: 45px;
    background-color: white;
    display: inline-block;
    position: relative;
    z-index: 1;
}

nav button,
#nav_link {
    width: 100%;
}

#nav_button {
    text-align: right;
}

nav button.pure-button {
    float: right;
    height: 45px;
    background-color: white;
    color: #BB79A0;
}

nav button.pure-button-hover,
nav button.pure-button:hover,
nav button.pure-button:focus {
    background-image: none;
}

.recommendation p {
    font-family: AvenirNextCondensed;
    color: #706f6f;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: auto;
    margin-right: auto;
}

.title_img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.questions {
    color: #706f6f;
    font-weight: 100;
    font-size: 19px;
    font-family: AvenirNextCondensed;
    margin-top: 40px;
}

.questions_sidebar {
    color: #706f6f;
    font-weight: 100;
    font-size: 19px;
    font-family: AdobeDevanagari-Italic;
}

.overflow_scroll {
    /*max-height: 295px;*/
    width: 100%;
    /*overflow: scroll;*/
    margin-bottom: 10px;
}

.bottom_cem {}

img.begin_dots_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 46px;
    margin-bottom: 10px;
}

.flower_img {
    /*max-height: 100px;*/
    display: block;
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

div.time_logos {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: inline-block;
    line-height: 27px;
}

.fooooo {
    background-image: url('http://placehold.it/35');
}


/*********************************************1*********************************************************/

#main_1 {
    background-image: url(../img/mobile/bg_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main_1 p {
    margin-top: 10px;
    font-family: AvenirNextCondensed;
    max-width: 369px;
    color: #706f6f;
    font-size: 19px;
    line-height: 35px;
}

img.dots_img {
    display: block;
    margin: auto;
    max-height: 100px;
}

#page_1 {
    border-radius: 50%;
    width: 100px;
}


/*********************************************2*********************************************************/

#main_2 {
    background-image: url(../img/mobile/bg_2.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main_2 p {
    font-family: AvenirNextCondensed;
    max-width: 313px;
    color: #706f6f;
    line-height: 35px;
}

#main_2 img.title_img {
    max-width: 290px;
}

#username {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 21px;
    font-family: AvenirNextCondensed;
    padding-top: 20px;
    color: #888482;
}

#username::-webkit-input-placeholder {
    font-family: AvenirNextCondensed;
}

#username:-ms-input-placeholder {
    font-family: AvenirNextCondensed;
}

#username:-moz-placeholder {
    font-family: AvenirNextCondensed;
}

#username::-moz-placeholder {
    font-family: AvenirNextCondensed;
}

#username_dots_img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
}

#page_2 {
    border-radius: 50%;
    width: 100px;
}


/*********************************************3*********************************************************/

#main_3 {
    background-image: url(../img/mobile/bg_3.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.house_work {
    background-image: url("../img/mobile/page3/housework.png");
    background-size: contain;
}

.house_work_selected {
    background-image: url("../img/mobile/page3/housework.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.excercise {
    background-image: url("../img/mobile/page3/excercise.png");
    background-size: contain;
}

.excercise_selected {
    background-image: url("../img/mobile/page3/excercise.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.shower {
    background-image: url("../img/mobile/page3/shower.png");
    background-size: contain;
}

.shower_selected {
    background-image: url("../img/mobile/page3/shower.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.children {
    background-image: url("../img/mobile/page3/children.png");
    background-size: contain;
}

.children_selected {
    background-image: url("../img/mobile/page3/children.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.breakfast {
    background-image: url("../img/mobile/page3/breakfast.png");
    background-size: contain;
}

.breakfast_selected {
    background-image: url("../img/mobile/page3/breakfast.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.social_media {
    background-image: url("../img/mobile/page3/social.png");
    background-size: contain;
}

.social_media_selected {
    background-image: url("../img/mobile/page3/social.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.coffee {
    background-image: url("../img/mobile/page3/coffee.png");
    background-size: contain;
}

.coffee_selected {
    background-image: url("../img/mobile/page3/coffee.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.p3_images {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 43px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 12px;
}

.p3_images_2 {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 43px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 12px;
}

#page_3_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************4*********************************************************/

#main_4 {
    background-image: url(../img/mobile/bg_4.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#feelingslider_v {
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 0;
    border: none;
}

#feelingslider_v span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    outline: none;
    background-image: url(../img/pages/page4/slider_button.png);
    border: 2px solid white;
    margin-left: -7px;
}

.feelingslider_img {
    width: 202px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.ready_for {
    font-family: AvenirNextCondensed;
    margin: 0;
    color: #706f6f;
}

#page_4_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************5*********************************************************/

#main_5 {
    background-image: url(../img/mobile/bg_5.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ragime_buttons {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 6px;
}

#page_5_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************6*********************************************************/

#main_6 {
    background-image: url(../img/mobile/bg_5.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.always {
    background-image: url("../img/mobile/page6/always.png");
    background-size: contain;
}

.always_selected {
    background-image: url("../img/mobile/page6/always.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.sometimes {
    background-image: url("../img/mobile/page6/sometimes.png");
    background-size: contain;
}

.sometimes_selected {
    background-image: url("../img/mobile/page6/sometimes.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.never {
    background-image: url("../img/mobile/page6/never.png");
    background-size: contain;
}

.never_selected {
    background-image: url("../img/mobile/page6/never.png");
    border: 5px solid rgb(255, 192, 203);
    background-size: contain;
}

.happy_with_butttons {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 6px;
}

#page_6_mobile {
    border-radius: 50%;
    width: 100px;
}

li.ui-state-default.ui-sortable-handle {
    background-color: white;
    background-image: none;
    border-radius: 4px;
    color: #706F6F;
    padding: 7px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
    text-align: left;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 13px;
    font-style: italic;
}


/*********************************************7*********************************************************/

#main_7 {
    background-image: url(../img/mobile/bg_6.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sortable1 {}

#sortable1 li {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sortable2 {
    /*background-color: pink;*/
    min-height: 200px;
    width: 100%;
}

#sortable2 li {
    border: 7px solid pink;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

li.ui-state-default.ui-sortable-handle {
    /*3*/
}

.questions_p {
    color: grey;
    font-weight: 100;
    font-size: 10px;
    font-family: AvenirNextCondensed;
}

#page_7_mobile {
    border-radius: 50%;
    width: 100px;
}

#sortable2 li.ui-state-default.a_button_pointer.ui-sortable-handle.ui-sortable-helper {
    right: 0;
}

li.ui-state-default.a_button_pointer.ui-sortable-handle.ui-sortable-helper {
    right: 0;
}

#dev_flower {
    /*width: 100%;*/
    /*max-width: 320px;*/
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


/*********************************************8*********************************************************/

#main_8 {
    background-image: url(../img/mobile/bg_8.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dontworry,
.dontworry_text {
    color: grey;
    font-weight: 100;
    font-size: 20px;
    margin: 16px;
    font-family: AdobeDevanagari-Italic;
}

#page_8_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************9*********************************************************/

#main_9 {
    background-image: url(../img/mobile/bg_9.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.thebest {
    background-image: url("../img/mobile/page9/thebest.png");
    background-size: contain;
}

.thebest_selected {
    background-image: url("../img/mobile/page9/thebest.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.natural {
    background-image: url("../img/mobile/page9/natural.png");
    background-size: contain;
}

.natural_selected {
    background-image: url("../img/mobile/page9/natural.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.fresh {
    background-image: url("../img/mobile/page9/fresh.png");
    background-size: contain;
}

.fresh_selected {
    background-image: url("../img/mobile/page9/fresh.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.asyoung {
    background-image: url("../img/mobile/page9/asyoung.png");
    background-size: contain;
}

.asyoung_selected {
    background-image: url("../img/mobile/page9/asyoung.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.p9_images {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 6px;
}

#page_9_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************10*********************************************************/

#main_10 {
    background-image: url(../img/mobile/bg_4.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#drum_age_scroller {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#page_10_mobile {
    border-radius: 50%;
    width: 100px;
}

#ticker-lines {
    width: 250px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin: 39px 0px 0px -86px;
}

#ticker-lines .ticker-dots {
    width: 178px;
    height: 1px;
    background: url('../img/pages/_all/dots.png') top left no-repeat;
    display: block;
}

#ticker-lines .ticker-dots-bottom {
    margin-top: 35px;
}


/*********************************************11*********************************************************/

#main_11 {
    background-image: url(../img/mobile/bg_10.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gifslider {
    margin-top: 21px;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    border: none;
}

#gifslider span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-image: url(../img/pages/page11/slider_button.png);
    border: 2px solid white;
    margin-top: -2px;
}

#gif_image {
    width: 125px;
    height: 125px;
}

#gifslider_img {
    width: 269px;
}

#page_11_mobile {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 139px;
}


/*********************************************12*********************************************************/

#main_12 {
    background-image: url(../img/mobile/bg_4.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main_12 p {
    font-family: AvenirNextCondensed;
    max-width: 369px;
    color: #706f6f;
    font-size: 16px;
}

#page_12_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************13*********************************************************/

#main_13 {
    background-image: url(../img/mobile/bg_12.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#page_13_mobile {
    border-radius: 50%;
    width: 100px;
}

.children_2 {
    background-image: url("../img/mobile/page13/children.png");
    background-size: contain;
}

.children_2_selected {
    background-image: url("../img/mobile/page13/children.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.shopping {
    background-image: url("../img/mobile/page13/shopping.png");
    background-size: contain;
}

.shopping_selected {
    background-image: url("../img/mobile/page13/shopping.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.relaxing {
    background-image: url("../img/mobile/page13/relaxing.png");
    background-size: contain;
}

.relaxing_selected {
    background-image: url("../img/mobile/page13/relaxing.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.travelling {
    background-image: url("../img/mobile/page13/travelling.png");
    background-size: contain;
}

.travelling_selected {
    background-image: url("../img/mobile/page13/travelling.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.work {
    background-image: url("../img/mobile/page13/work.png");
    background-size: contain;
}

.work_selected {
    background-image: url("../img/mobile/page13/work.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.somethingelse {
    background-image: url("../img/mobile/page13/somethingelse.png");
    background-size: contain;
}

.somethingelse_selected {
    background-image: url("../img/mobile/page13/somethingelse.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.p13_images {
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 45px;
    height: 100%;
    min-height: 735px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*********************************************14*********************************************************/

#main_14 {
    background-image: url(../img/mobile/bg_13.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*
#stress {
    margin-top: 28px;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    border: none;
}

#stress span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-image: url(../img/pages/page14/sliderbutton.png);
    border: 2px solid white;
    margin-top: -2px;
}

#stress_img {
    width: 269px;
}*/

#stress_v {
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 0;
    border: none;
}

#stress_v span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    outline: none;
    background-image: url(../img/pages/page14/sliderbutton.png);
    border: 2px solid white;
    margin-left: -7px;
}

#stress_img {
    width: 202px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#page_14_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************15*********************************************************/

#main_15 {
    background-image: url(../img/mobile/bg_14.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main_15 p {
    font-family: AvenirNextCondensed;
    font-size: 12px;
}

p.sub_questions {
    color: #706f6f;
}

.ragime_buttons_2_hi {
    border: 5px solid pink;
}

#bag1 {
    background-image: url("../img/mobile/page15/bag1.png");
    background-size: contain;
}

#bag2 {
    background-image: url("../img/mobile/page15/bag2.png");
    background-size: contain;
}

#bag3 {
    background-image: url("../img/mobile/page15/bag3.png");
    background-size: contain;
}

#bag4 {
    background-image: url("../img/mobile/page15/bag4.png");
    background-size: contain;
}

#bag5 {
    background-image: url("../img/mobile/page15/bag5.png");
    background-size: contain;
}

#bag6 {
    background-image: url("../img/mobile/page15/bag6.png");
    background-size: contain;
}

#bag7 {
    background-image: url("../img/mobile/page15/bag7.png");
    background-size: contain;
}

.ragime_buttons_2 {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 43px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 12px;
}

#page_15_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************16*********************************************************/

#main_16 {
    background-image: url(../img/mobile/bg_15.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#beauty {
    background-image: url("../img/mobile/page16/beauty.png");
    background-size: contain;
}

#ingredients {
    background-image: url("../img/mobile/page16/ingredients.png");
    background-size: contain;
}

#trust {
    background-image: url("../img/mobile/page16/trust.png");
    background-size: contain;
}

.matters_buttons_select {
    border: 5px solid pink;
}

.matters_buttons {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 84px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 12px;
}

#page_16_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************17*********************************************************/

#main_17 {
    background-image: url(../img/mobile/bg_16.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.awake {
    background-image: url("../img/mobile/page17/awake.png");
    background-size: contain;
}

.sleep {
    background-image: url("../img/mobile/page17/sleep.png");
    background-size: contain;
}

.wine {
    background-image: url("../img/mobile/page17/wine.png");
    background-size: contain;
}

.awake_selected {
    background-image: url("../img/mobile/page17/awake.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.sleep_selected {
    background-image: url("../img/mobile/page17/sleep.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.wine_selected {
    background-image: url("../img/mobile/page17/wine.png");
    border: 5px solid #e8eea7;
    background-size: contain;
}

.p17_images {
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 43px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-radius: 12px;
}

#page_17_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************18*********************************************************/

#main_18 {
    background-image: url(../img/mobile/bg_17.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#endofday_v {
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 0;
    border: none;
}

#endofday_v span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    outline: none;
    background-image: url(../img/pages/page4/slider_button_dark.png);
    border: 2px solid white;
    margin-left: -7px;
}

#endofday_img {
    width: 202px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#page_18_mobile {
    border-radius: 50%;
    width: 100px;
}


/*********************************************19*********************************************************/

#main_19 {
    background-image: url(../img/mobile/bg_18.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    /*height: 90%;*/
    min-height: 586px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main_19 p {
    margin-top: 50px;
    font-family: AvenirNextCondensed;
    max-width: 369px;
    color: #706f6f;
    font-size: 19px;
    padding: 10px;
    line-height: 35px;
}

#page_19 {
    border-radius: 50%;
    width: 100px;
}
.email_placeholder::-webkit-input-placeholder {
    color: #a2668a
}