<!--@subject "Happy Birthday!" Greetings From Aurelia Probiotic Skincare @-->
 {{inlinecss file="aurelia-email-inline.css"}}
   <style>img{border:none}</style>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" valign="bottom"><img src="{{skin url="images/email/logo.jpg"}}" width="600" height="118" alt="Aurelia Probiotic Skincare"/></td>
    </tr>
    <tr>
      <td valign="top" class="top-link" align="center" style="border-top:#636363 solid 1px; border-bottom:#636363 solid 1px; text-align:center; margin:0px;">
      <table width="100%" border="0" align="center">
  <tbody>
        <tr>
      <td style="padding:3px 3px;"><a style="font-size:13px;  color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="about"}}"> ABOUT </a> </td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="products"}}">PRODUCTS</a> </td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; letter-spacing:0.1em; text-transform:uppercase; "  href="{{store url="science-qa"}}">SCIENCE</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="stockists"}}">STOCKISTS</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="press-coverage"}}">PRESS</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase; letter-spacing:0.1em;  padding:7px;"  href="{{store url="aurelia-tv"}}">TV</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="blog"}}">BLOG</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;  letter-spacing:0.1em;" href="{{store url="contacts"}}">CONTACT </a></td>
    </tr>
  </tbody>
</table>
      </td>
    </tr>
    <!--tr>
        <td class="action-content">
            <h1>{{var name}}</h1>
            <p>Aurelia Probiotic Skincare Wishing you <strong>Happy Birthday</strong>.</p>
            <p>Use coupon code <strong>{{var code}}</strong> to receive off of worth {{var amount}.</p>
            <p>Coupon is valid till {{var expiry_date}} .</p>
        </td>
    </tr-->
    
    <tr>
      <td valign="top" ><img src="{{skin url="images/email/BIrthday-01.jpg"}}"></td>
    </tr>
    <tr>
      <td align="center" class="txt1" style="font-size:13px; line-height:25px; padding-top:15px; text-align:center; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif;">Dear {{var name}}<br/>
        Wishing you a very happy birthday from the whole team at Aurelia Probiotic Skincare. Treat yourself by
        using your birthday gift code below for 20% off your next order and receive a<br/>
        complimentary luxury miniature.*
        <br/>
        
        </td>
    </tr>
    <tr>
      <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td class="td" align="center" style="font-family: Georgia,Times,Times New Roman,serif;"><div class="gift-card1">{{var code}}</div></td>
    </tr>
      <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td><img src="{{skin url="images/email/gift-img.jpg"}}"></td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td class="td" align="center" style="
	 font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif;" >*Over &pound;35. This offer expires in 30 days from the date this email was sent.</td>
    </tr>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="30"><img src="{{skin url="images/email/Loyalty_Banner.jpg"}}" align="absbottom"></td>
    </tr>
    <tr>
      <td  class="graybox"  style="font-family: Georgia,Times,Times New Roman,serif; background:#999999;
	padding:5px 10px; font-size:13px; color:#ffffff;"><div class="inner">If you have any questions about your order please contact us via email at <a style="color:#ffffff;" href="mailto:customerservices@aureliaskincare.com">customerservices@aureliaskincare.com</a>
          or call us on 0207 751 0022. Office hours are from Monday - Friday 9:00am - 5.30pm GMT.</div></td>
    </tr>
    <tr>
      <td><img src="{{skin url="images/email/next-banner.jpg"}}" width="599" height="127" alt=""/></td>
    </tr>
    <tr>
       <td align="center" style="padding-top:8px; padding-bottom:8px;">
      <a href="https://www.facebook.com/AureliaProbioticSkincare" target="_blank"><img src="{{skin url="images/email/soical-icon1.jpg"}}"  alt=""/></a>
      <a href="https://twitter.com/AureliaSkincare" target="_blank"><img src="{{skin url="images/email/soical-icon2.jpg"}}"  alt=""/></a>
      <a href="http://www.youtube.com/user/AureliaSkincare" target="_blank"><img src="{{skin url="images/email/soical-icon5.jpg"}}"  alt=""/></a>
      <a href="http://pinterest.com/aureliaskincare/" target="_blank"><img src="{{skin url="images/email/soical-icon4.jpg"}}" alt=""/></a>
      <a href="http://instagram.com/aureliaskincare" target="_blank"><img src="{{skin url="images/email/soical-icon3.jpg"}}"  alt=""/></a>
      </td>
    </tr>
    <tr>
      <td align="center" style="color:#4d4d4d; font-size:11px; font-family: Georgia,Times,Times New Roman,serif;">If you would like to stop receiving emails from Aurelia Probiotic Skincare, please click <a href="{{store url=''}}" style="color:#a9a9a9; text-decoration:none;">unsubscribe</a></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
  </tbody>
</table>

