<!--@subject Newsletter subscription success @-->
 {{inlinecss file="aurelia-email-inline.css"}}
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: Georgia, "Lucida Bright", "DejaVu Serif", Georgia, serif;">
  <tbody>
        <tr>
      <td align="center" valign="bottom"><img src="{{skin url="images/email/logo.jpg"}}" width="600" height="118" alt="Aurelia Probiotic Skincare"/></td>
    </tr>
     <tr>
      <td valign="top" class="top-link" align="center" style="border-top:#636363 solid 1px; border-bottom:#636363 solid 1px; text-align:center; margin:0px;">
            <table width="100%" border="0" align="center">
  <tbody>
        <tr>
      <td style="padding:3px 3px;"><a style="font-size:13px;  color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="about"}}"> ABOUT </a> </td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="products"}}">PRODUCTS</a> </td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; letter-spacing:0.1em; text-transform:uppercase; "  href="{{store url="science-qa"}}">SCIENCE</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="stockists"}}">STOCKISTS</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="press-coverage"}}">PRESS</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase; letter-spacing:0.1em;  padding:7px;"  href="{{store url="aurelia-tv"}}">TV</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;   letter-spacing:0.1em;" href="{{store url="blog"}}">BLOG</a></td>
      <td style="padding:3px 3px;"><a style="font-size:13px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif; text-decoration:none; text-transform:uppercase;  letter-spacing:0.1em;" href="{{store url="contacts"}}">CONTACT </a></td>
    </tr>
  </tbody>
</table>
      </td>
    </tr>
    <tr>
      <td valign="top"><img src="{{skin url="images/email/thankyou.jpg"}}" width="600" height="189" alt=""/></td>
    </tr>
    <tr>
      <td class="td">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:5px">
          <tbody>
            <tr>
              <td align="center" style="line-height:20px; font-size:13px; padding-bottom:5px; padding-top:5px;   font-family: Georgia,Times,Times New Roman,serif;">Hooray thanks for signing up! You will now be one of the first to hear about our latest news, exciting offers
                and new product launches!</td>
            </tr>
              <tr>
      <td height="10"></td>
    </tr><tr>
              <td align="center" style="line-height:20px; padding-bottom:5px; padding-top:5px; font-size:13px;  font-family: Georgia,Times,Times New Roman,serif;">Join ‘Aurelia Loyalty’ and let us thank you with complimentary delivery, exclusive offers and loyalty gift
                cards. Find out more and create an Aurelia Loyalty account</td>
            </tr>
               <tr>
      <td height="0"></td>
    </tr>
    <tr>
    <td align="center" style="padding-bottom:5px; padding-top:5px;">
	<a href="{{store url="customer/account/create"}}" ><img src="{{skin url="images/email/create-btn.png"}}"></a></td>
            </tr>
            <tr>
              <td align="center" style="padding-top:5px; font-size:13px;   padding-bottom:0px;  line-height:20px; font-family: Georgia,Times,Times New Roman,serif;">With love, <br/>
                Aurelia Probiotic Skincare x</td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td height="10"></td>
    </tr>
    <tr>
      <td><img src="{{skin url="images/email/thankyou-b.jpg"}}" alt="" width="600" height="136" align="absbottom"/></td>
    </tr>
    <tr>
      <td class="graybox" style="background:#999999;
	padding:5px 10px;" ><div class="inner" style="font-family: Georgia,Times,Times New Roman,serif; border:#fff dotted 1px;
	text-align:center;
	padding:15px 5px;
	color:#fff;
	font-size:11px;
	line-height:16px;">We are here to help! Please contact us via email at <a  style="text-decoration:none; color:#ffffff" href="mailto:customerservices@aureliaskincare.com" title="customerservices@aureliaskincare.com">customerservices@aureliaskincare.com</a> <br/>
or call us on 0207 751 0022. Office hours are from Monday - Friday 9:00am - 5.30pm GMT.</div></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td><img src="{{skin url="images/email/next-banner.jpg"}}" width="599" height="127" alt=""/></td>
    </tr>
           <tr>
       <td align="center" style="padding-top:8px; padding-bottom:8px;">
      <a href="https://www.facebook.com/AureliaProbioticSkincare" target="_blank"><img src="{{skin url="images/email/soical-icon1.jpg"}}"  alt=""/></a>
      <a href="https://twitter.com/AureliaSkincare" target="_blank"><img src="{{skin url="images/email/soical-icon2.jpg"}}"  alt=""/></a>
      <a href="http://www.youtube.com/user/AureliaSkincare" target="_blank"><img src="{{skin url="images/email/soical-icon5.jpg"}}"  alt=""/></a>
      <a href="http://pinterest.com/aureliaskincare/" target="_blank"><img src="{{skin url="images/email/soical-icon4.jpg"}}" alt=""/></a>
      <a href="http://instagram.com/aureliaskincare" target="_blank"><img src="{{skin url="images/email/soical-icon3.jpg"}}"  alt=""/></a>
      </td>
    </tr>
    <tr>
      <td align="center" style="font-size:11px; color:#4d4d4d; font-family: Georgia,Times,Times New Roman,serif;" >If you would like to stop receiving emails from Aurelia Probiotic Skincare, please click <a href="{{store url=''}}" style="color:#a9a9a9; text-decoration:none;">unsubscribe</a></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
  </tbody>
</table>
