<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>

 <tr>
      <td align="center" valign="bottom"><img src="{{skin url="images/email/logo.jpg"}}" width="600" height="118" alt="Aurelia Probiotic Skincare"/></td>
    </tr>
    <tr>
      <td valign="top" class="top-link"><a href="{{store url="about"}}">ABOUT</a><a href="{{store url="products"}}">PRODUCTS</a><a href="{{store url="science-qa"}}">SCIENCE</a><a href="{{store url="stockists"}}">STOCKISTS</a><a href="{{store url="press-coverage"}}">PRESS</a><a href="{{store url="aurelia-tv"}}">TV</a><a href="{{store url="blog"}}">BLOG</a><a href="{{store url="contacts"}}">CONTACT </a></td>
    </tr>
