<?xml version="1.0"?>
<config>
    <modules>
        <As_Customfee>
            <version>0.1.5</version>
        </As_Customfee>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <customfee>
                        <class>customfee/sales_quote_address_total_customfee</class>
                        <renderer>customfee/checkout_totals_customfee</renderer>
                        <admin_renderer>customfee/adminhtml_sales_order_create_totals_customfee</admin_renderer>
                    </customfee>
                </totals>
            </quote>
			<order_invoice>
                <totals>
                    <fee>
                        <class>customfee/sales_order_total_invoice_customfee</class>
                    </fee>
                </totals>
            </order_invoice>
        </sales>
		<events>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>customfee/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
			<sales_order_place_after>
				<observers>
                    <sales_order_place_after_function>
                        <class>customfee/observer</class>
                        <method>customerAtrributesave</method>
                    </sales_order_place_after_function>
                </observers>
			</sales_order_place_after>
		</events>
        <fieldsets>
            <sales_convert_quote_address>
                <customfee_amount>
                    <to_order>*</to_order>
                </customfee_amount>
                <base_customfee_amount>
                    <to_order>*</to_order>
                </base_customfee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <customfee translate="title">
                    <title>Custom Fee</title>
                    <source_field>customfee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </customfee>
            </totals>
        </pdf>
        <resources>
            <customfee_setup>
                <setup>
                    <module>As_Customfee</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customfee_setup>
        </resources>
        <models>
            <customfee>
                <class>As_Customfee_Model</class>
            </customfee>
        </models>
        <blocks>
            <customfee>
                <class>As_Customfee_Block</class>
            </customfee>
        </blocks>
        <helpers>
            <customfee>
                <class>As_Customfee_Helper</class>
            </customfee>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <customfee>
                    <file>customfee.xml</file>
                </customfee>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <customfee>
                    <file>customfee.xml</file>
                </customfee>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <customfee>15</customfee>
            </totals_sort>
        </sales>
    </default>
</config>