<?xml version="1.0"?>
<config>
    <default>
        <silverpop>
            <vouchers>
                <enabled>0</enabled>
                <spop_host><![CDATA[]]></spop_host>
                <spop_username><![CDATA[]]></spop_username>
                <spop_password><![CDATA[]]></spop_password>
                <order_table_id><![CDATA[]]></order_table_id>
                <order_relation_table_id><![CDATA[]]></order_relation_table_id>
                <order_items_table_id><![CDATA[]]></order_items_table_id>
                <gift_cards_table_id><![CDATA[]]></gift_cards_table_id>
            </vouchers>
            <transact>
                <enabled>0</enabled>
                <transact_url><![CDATA[]]></transact_url>
                <gift_card_id><![CDATA[]]></gift_card_id>
            </transact>
            <deals>
                <enabled>0</enabled>
                <column_name><![CDATA[]]></column_name>
                <rule_id><![CDATA[]]></rule_id>
                <generate_codes>0</generate_codes>
            </deals>
        </silverpop>
        <vouchers>
            <monthly_deals>
                <enabled>0</enabled>
                <from_date><![CDATA[]]></from_date>
                <to_date><![CDATA[]]></to_date>
                <rule_id><![CDATA[]]></rule_id>
                <order_total>0</order_total>
                <spop_table_id><![CDATA[]]></spop_table_id>
                <campaign_id><![CDATA[]]></campaign_id>
            </monthly_deals>
        </vouchers>
    </default>
    <modules>
        <Stardigital_Vouchers>
            <version>0.4.0</version>
        </Stardigital_Vouchers>
    </modules>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_silverpop>
                <observers>
                    <vouchers>
                        <type>singleton</type>
                        <class>vouchers/observer</class>
                        <method>handleAdminSystemConfigChangedSection</method>
                    </vouchers>
                </observers>
            </admin_system_config_changed_section_silverpop>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <silverpop>
                                            <title>Store Silverpop Module Section</title>
                                        </silverpop>
                                        <vouchers>
                                            <title>Store Monthly Deals Module Section</title>
                                        </vouchers>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <vouchers>
                <class>Stardigital_Vouchers_Model</class>
                <resourceModel>vouchers_mysql4</resourceModel>
            </vouchers>
            <vouchers_mysql4>
                <class>Stardigital_Vouchers_Model_Mysql4</class>
                <entities>
                    <vouchers>
                        <table>vouchers</table>
                    </vouchers>
                </entities>
            </vouchers_mysql4>
            <sales>
                <rewrite>
                    <order>Stardigital_Vouchers_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <vouchers_setup>
                <setup>
                    <module>Stardigital_Vouchers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vouchers_setup>
            <vouchers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vouchers_write>
            <vouchers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vouchers_read>
        </resources>
        <helpers>
            <vouchers>
                <class>Stardigital_Vouchers_Helper</class>
            </vouchers>
        </helpers>
        <blocks>
            <vouchers>
                <class>Stardigital_Vouchers_Block</class>
            </vouchers>
        </blocks>
    </global>
</config>
