<?xml version="1.0"?>
<config>
    <modules>
        <Cnc_MarketPlace>
            <version>1.6.4</version>
        </Cnc_MarketPlace>
    </modules>
    <global>
        <models>
            <marketplace>
                <class>Cnc_MarketPlace_Model</class>
                <resourceModel>marketplace_resource</resourceModel>
            </marketplace>
            <marketplace_resource>
                <class>Cnc_MarketPlace_Model_Resource</class>
                <entities>
                    <configurationtable>
                        <table>product_to_mirakle</table>
                    </configurationtable>
                    <importtable>
                        <table>cn_cmi_imports</table>
                    </importtable>
                    <ordertable>
                        <table>cn_cmi_orders</table>
                    </ordertable>
                    <crontable>
                        <table>cn_cmi_crons</table>
                    </crontable>
                    <messagetable>
                        <table>cn_cmi_messages</table>
                    </messagetable>
                    <offertable>
                        <table>cn_cmi_offers</table>
                    </offertable>
                </entities>
            </marketplace_resource>
        </models>
        <helpers>
            <marketplace>
                <class>Cnc_MarketPlace_Helper</class>
            </marketplace>
        </helpers>
        <blocks>
            <marketplace>
                <class>Cnc_MarketPlace_Block</class>
            </marketplace>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Cnc_MarketPlace_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <marketplace_setup>
                <setup>
                    <module>Cnc_MarketPlace</module>
                    <class>Cnc_MarketPlace_Model_Resource_Setup</class>
                </setup>
            </marketplace_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <marketplace before="Mage_Adminhtml">Cnc_MarketPlace_Adminhtml</marketplace>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_save_after>
                <observers>
                    <marketplace>
                        <class>Cnc_MarketPlace_Model_Invoiceobserver</class>
                        <method>logUpdate</method>
                        <type>singleton</type>
                    </marketplace>
                </observers>
            </sales_order_save_after>
            <controller_action_predispatch>
                <observers>
                    <marketplace>
                        <class>Cnc_MarketPlace_Model_Actionobserver</class>
                        <method>indexPreDispatch</method>
                        <type>singleton</type>
                    </marketplace>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <marketplace>
                        <class>Cnc_MarketPlace_Model_Actionobserver</class>
                        <method>indexPostDispatch</method>
                        <type>singleton</type>
                    </marketplace>
                </observers>
            </controller_action_postdispatch>
        </events>
        <layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <marketplace>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>marketplace/observer::setStatus</model>
                </run>
            </marketplace>
        </jobs>
        <jobs>
            <marketplace_prod>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>marketplace/productcron::execute</model>
                </run>
            </marketplace_prod>
        </jobs>
        <jobs>
            <marketplace_offer>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>marketplace/offercron::execute</model>
                </run>
            </marketplace_offer>
        </jobs>
        <jobs>
            <marketplace>
                <schedule>
                    <cron_expr>2 30 * * *</cron_expr>
                </schedule>
                <run>
                    <model>marketplace/logcleaner::execute</model>
                </run>
            </marketplace>
        </jobs>
    </crontab>
</config>
