<?xml version="1.0"?>
<config>
    <modules>
        <Cnc_Marketplace>
            <version>2.1.0</version>
        </Cnc_Marketplace>
    </modules>
    <global>
        <models>
            <marketplace>
                <class>Cnc_Marketplace_Model</class>
                <resourceModel>marketplace_resource</resourceModel>
            </marketplace>
            <marketplace_resource>
                <class>Cnc_Marketplace_Model_Resource</class>
                <entities>
                    <configurationtable>
                        <table>product_to_mirakle</table>
                    </configurationtable>
                    <importtable>
                        <table>cn_cmi_imports</table>
                    </importtable>
                    <ordertable>
                        <table>cn_cmi_orders</table>
                    </ordertable>
                    <crontable>
                        <table>cn_cmi_crons</table>
                    </crontable>
                    <messagetable>
                        <table>cn_cmi_messages</table>
                    </messagetable>
                    <offertable>
                        <table>cn_cmi_offers</table>
                    </offertable>
                </entities>
            </marketplace_resource>
        </models>
        <helpers>
            <marketplace>
                <class>Cnc_Marketplace_Helper</class>
            </marketplace>
        </helpers>
        <blocks>
            <marketplace>
                <class>Cnc_Marketplace_Block</class>
            </marketplace>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Cnc_Marketplace_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <marketplace_setup>
                <setup>
                    <module>Cnc_Marketplace</module>
                    <class>Cnc_Marketplace_Model_Resource_Setup</class>
                </setup>
            </marketplace_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <marketplace before="Mage_Adminhtml">Cnc_Marketplace_Adminhtml</marketplace>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_save_after>
                <observers>
                    <marketplace>
                        <class>Cnc_Marketplace_Model_Invoiceobserver</class>
                        <method>logUpdate</method>
                        <type>singleton</type>
                    </marketplace>
                </observers>
            </sales_order_save_after>
            <controller_action_predispatch>
                <observers>
                    <marketplace>
                        <class>Cnc_Marketplace_Model_Actionobserver</class>
                        <method>indexPreDispatch</method>
                        <type>singleton</type>
                    </marketplace>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <marketplace>
                        <class>Cnc_Marketplace_Model_Actionobserver</class>
                        <method>indexPostDispatch</method>
                        <type>singleton</type>
                    </marketplace>
                </observers>
            </controller_action_postdispatch>
            <adminhtml_block_html_before>
                <observers>
                    <marketplace>
                        <class>Cnc_Marketplace_Model_Observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                        <type>singleton</type>
                    </marketplace>
                    <add_mass_action>
                        <class>Cnc_Marketplace_Model_Observer</class>
                        <method>addMassAction</method>
                    </add_mass_action>
                </observers>
            </adminhtml_block_html_before>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_button_download>
                        <class>Cnc_Marketplace_Model_Observer</class>
                        <method>addButtonDownload</method>
                    </add_button_download>
                </observers>
            </adminhtml_widget_container_html_before>
            <create_invoice_for_mirakl_order>
                <observers>
                    <create_invoice>
                        <class>Cnc_Marketplace_Model_Observer</class>
                        <method>createInvoiceForMiraklOrder</method>
                        <type>singleton</type>
                    </create_invoice>
                </observers>
            </create_invoice_for_mirakl_order>
        </events>
        <layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <marketplace_setstatus>
                <schedule><cron_expr>1/1 * * * *</cron_expr></schedule>
                <run><model>marketplace/cron::setStatus</model></run>
            </marketplace_setstatus>

            <marketplace_products>
                <schedule><config_path>marketplace/product_settings/cron_expr</config_path></schedule>
                <run><model>marketplace/cron::executeProducts</model></run>
            </marketplace_products>

            <marketplace_offers>
                <schedule><config_path>marketplace/offer_settings/cron_expr</config_path></schedule>
                <run><model>marketplace/cron::executeOffers</model></run>
            </marketplace_offers>

            <marketplace_logcleaner>
                <schedule><cron_expr>2 30 * * *</cron_expr></schedule>
                <run><model>marketplace/cron::executeLogCleaner</model></run>
            </marketplace_logcleaner>
        </jobs>
    </crontab>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <marketplace>
                                            <title>Marketplace</title>
                                        </marketplace>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
