<?xml version="1.0"?>
<config>
  <modules>
    <Star_Newslettersubscribe>
      <version>0.1.0</version>
    </Star_Newslettersubscribe>
  </modules>
  <frontend>
        <routers>
			<newslettersubscribe>
                <use>standard</use>
                <args>
                    <module>Star_Newslettersubscribe</module>
                    <frontName>newslettersubscribe</frontName>
                </args>
            </newslettersubscribe>
        </routers>
     </frontend>
  <global>
    <helpers>
      <newslettersubscribe>
        <class>Star_Newslettersubscribe_Helper</class>
      </newslettersubscribe>
    </helpers>
  </global>
</config> 