<?xml version="1.0"?>
<!--
/**
 * Tangkoko Cms Search Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@tangkoko.com  and you will be sent
 * a copy immediately.
 *
 * @category   Tangkoko
 * @package    CmsSearch
 * @author     Vincent Decrombecque
 * @copyright  Copyright (c) 2012 Tangkoko sarl (http://www.tangkoko.com) 
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
 <config>
    <modules>
        <Tangkoko_CmsSearch>
            <version>4.1.1</version>
        </Tangkoko_CmsSearch>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Tangkoko_CmsSearch>
                     <files>
                          <default>Tangkoko_CmsSearch.csv</default>
                     </files>
                </Tangkoko_CmsSearch>
            </modules>
        </translate>
        <routers>
            <cmssearch>
                <use>standard</use>
                <args>
                    <module>Tangkoko_CmsSearch</module>
                    <frontName>cmssearch</frontName>
                </args>
            </cmssearch>
        </routers>
        <layout>
            <updates>
                <cmssearch>
                    <file>cmssearch.xml</file>
                </cmssearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<cmssearch>
				<use>admin</use>
				<args>
					<module>Tangkoko_CmsSearch</module>
					<frontName>cmssearch</frontName>
				</args>
			</cmssearch>
        </routers>
    </admin>
    <global>
        <models>
			<cms_mysql4>
				<rewrite>
					<page_permission>Clever_Cms_Model_Mysql4_Page_Permission</page_permission>
				</rewrite>
			</cms_mysql4>
			<catalogsearch>
				<rewrite>
					<fulltext>Tangkoko_CmsSearch_Model_CatalogSearch_Fulltext</fulltext>
					<query>Tangkoko_CmsSearch_Model_CatalogSearch_Query</query>
				</rewrite>
			</catalogsearch>
			<core>
				<rewrite>
					<email_template_filter>Tangkoko_CmsSearch_Model_Email_Template_Filter</email_template_filter>
				</rewrite>
			</core>
            <cmssearch>
                <class>Tangkoko_CmsSearch_Model</class>
                <resourceModel>cmssearch_mysql4</resourceModel>
            </cmssearch>
            <cmssearch_mysql4>
                <class>Tangkoko_CmsSearch_Model_Mysql4</class>
                <entities>
                    <fulltext_page>
                        <table>cmssearch_fulltext</table>
                    </fulltext_page>
                    <result_page>
                        <table>cmssearch_result</table>
                    </result_page>
                     <fulltext_category>
                        <table>categorysearch_fulltext</table>
                    </fulltext_category>
                    <result_category>
                        <table>categorysearch_result</table>
                    </result_category>
                   <issearchable>
                        <table>cmssearch_issearchable</table>
                    </issearchable>
                </entities>
            </cmssearch_mysql4>
        </models>
        <resources>
            <cmssearch_setup>
                <setup>
                    <module>Tangkoko_CmsSearch</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmssearch_setup>
            <cmssearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmssearch_write>
            <cmssearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmssearch_read>
        </resources>
        <blocks>
            <cmssearch>
                <class>Tangkoko_CmsSearch_Block</class>
            </cmssearch>
            <adminhtml>
                <rewrite>
                    <cms_page_grid>Tangkoko_CmsSearch_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
                </rewrite>
			</adminhtml>
        </blocks>
        <helpers>
            <cmssearch>
                <class>Tangkoko_CmsSearch_Helper</class>
            </cmssearch>
        </helpers>
        <events>
            <model_save_after>
                <observers>
                    <cmssearch>
                        <type>singleton</type>
                        <class>cmssearch/observer</class>
                        <method>onModelSaveAfter</method>
                    </cmssearch>
                </observers>
            </model_save_after>
            <model_delete_after>
                <observers>
                    <cmssearch>
                        <type>singleton</type>
                        <class>cmssearch/observer</class>
                        <method>cleanModelIndex</method>
                    </cmssearch>
                </observers>
            </model_delete_after>
            <searchindex_fullrefresh>
                <observers>
                    <cmssearch>
                        <type>singleton</type>
                        <class>cmssearch/observer</class>
                        <method>refreshFullIndex</method>
                    </cmssearch>
                </observers>
            </searchindex_fullrefresh>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <cmssearch>
                        <type>singleton</type>
                        <class>cmssearch/observer</class>
                        <method>cmsField</method>
                    </cmssearch>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
    </global>
    <default>
       <cmssearch>
			<fuzzy>
				<fuzzy_search>0</fuzzy_search>
				<fuzzy_fields>0.5</fuzzy_fields>
			</fuzzy>
            <cmspage>
				<page_search>1</page_search>
				<page_fields>title,contents,description,meta_keyword,identifier</page_fields>
            </cmspage>
            <categories>
				<cat_search>1</cat_search>
				<cat_fields>title,contents,description,meta_keyword,identifier</cat_fields>
            </categories>
			<faq>
				<faq_search>1</faq_search>
				<faq_fields>title,contents,identifier</faq_fields>
			</faq>
			<blogs>
				<blog_search>1</blog_search>
				<blog_fields>title,contents,description,meta_keyword,identifier</blog_fields>
			</blogs>
        </cmssearch>
    </default>
	<searchables_types>
		<category>
			<class>Mage_Catalog_Model_Category</class>
			<suffix>category</suffix>
			<module_name>Mage_Catalog</module_name>
		</category>
		<page>
			<class>Mage_Cms_Model_Page</class>
			<suffix>page</suffix>
			<module_name>Mage_Cms</module_name>
		</page>
		<clever>
			<class>Clever_Cms_Model_Page</class>
			<suffix>page</suffix>
			<module_name>Mage_Cms</module_name>
		</clever>
		<clever_permission>
			<class>Clever_Cms_Model_Mysql4_Page_Permission</class>
			<suffix>page</suffix>
			<module_name>Clever_Cms</module_name>
		</clever_permission>
		<faq>
			<class>Flagbit_Faq_Model_Faq</class>
			<suffix>faq</suffix>
			<module_name>Flagbit_Faq</module_name>
		</faq>
		<post>
			<class>AW_Blog_Model_Post</class>
			<suffix>blog</suffix>
			<module_name>AW_Blog</module_name>
		</post>
		<blog>
			<class>AW_Blog_Model_Blog</class>
			<suffix>blog</suffix>
			<module_name>AW_Blog</module_name>
		</blog>
	</searchables_types>
</config>