<?xml version="1.0"?>
<config>
    <modules>
        <ChilliApple_FreeSample>
            <version>0.1.0</version>
        </ChilliApple_FreeSample>
    </modules>
    <frontend>
        <routers>
            <freesample>
                <use>standard</use>
                <args>
                    <module>ChilliApple_FreeSample</module>
                    <frontName>freesample</frontName>
                </args>
            </freesample>
            	<checkout>
            	   <args> 
            	     <modules>
            	     	<ChilliApple_FreeSample before="Mage_Checkout">ChilliApple_FreeSample</ChilliApple_FreeSample>
            	     </modules>
            	   </args>
            	</checkout>
        </routers>
        <layout>
            <updates>
                <freesample>
                    <file>freesample.xml</file>
                </freesample>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	<freesample>
		<use>admin</use>
		<args>
	          <module>ChilliApple_FreeSample</module>
			<frontName>freesample</frontName>
		</args>
	</freesample>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					  <freesample module="freesample">
						<children>
						  <items module="freesample">
							<title>Manage FreeSample</title>
								<sort_order>11</sort_order>
							</items>
						</children>
					</freesample>
			 <system>
                            <children>
                                <config>
                                    <children>
                                        <freesample>
                                            <title>FreeSample Module</title>
                                        </freesample>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<freesample>
					<file>freesample.xml</file>
				</freesample>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<events>
    	   <checkout_cart_update_items_before>
                <observers>
                    <sample_observer>
                        <type>singleton</type>
                        <class>ChilliApple_FreeSample_Model_Observer</class>
                        <method>updateItems</method>
                    </sample_observer>
                </observers>                
            </checkout_cart_update_items_before> 
            
            
            <sales_quote_collect_totals_before>
                <observers>
                    <amasty_promo_model_observer>
                        <type>singleton</type>
                        <class>ChilliApple_FreeSample_Model_Observer</class>
                        <method>initItems</method>
                    </amasty_promo_model_observer>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_quote_load_after>
                <observers>
                    <sample_observer>
                        <type>singleton</type>
                        <class>ChilliApple_FreeSample_Model_Observer</class>
                        <method>checkItems</method>
                    </sample_observer>
                </observers>                
            </sales_quote_load_after>

    	</events>
        <models>
            <freesample>
                <class>ChilliApple_FreeSample_Model</class>
                <resourceModel>freesample_mysql4</resourceModel>
            </freesample>
            <freesample_mysql4>
                <class>ChilliApple_FreeSample_Model_Mysql4</class>
                <entities>
                    <freesample>
                        <table>freesample</table>
                    </freesample>
                </entities>
            </freesample_mysql4>
        </models>
        <resources>
            <freesample_setup>
                <setup>
                    <module>ChilliApple_FreeSample</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freesample_setup>
            <freesample_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freesample_write>
            <freesample_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freesample_read>
        </resources>
        <blocks>
            <freesample>
                <class>ChilliApple_FreeSample_Block</class>
            </freesample>
        </blocks>
        <helpers>
            <freesample>
                <class>ChilliApple_FreeSample_Helper</class>
            </freesample>
        </helpers>
    </global>
</config>
