<?xml version="1.0"?>
<config>
	<default>
		<silverpop>
			<silverpop>
				<enabled>0</enabled>
				<spop_host><![CDATA[]]></spop_host>
				<spop_username><![CDATA[]]></spop_username>
				<spop_password><![CDATA[]]></spop_password>
				<spop_user_table_id><![CDATA[]]></spop_user_table_id>
				<spop_order_table_id><![CDATA[]]></spop_order_table_id>
			</silverpop>
		</silverpop>
	</default>
	<modules>
		<Gsm_Silverpop>
			<version>0.1.0</version>
		</Gsm_Silverpop>
	</modules>
	<frontend>
		<routers>
			<silverpop>
				<use>standard</use>
				<args>
					<module>Gsm_Silverpop</module>
					<frontName>silverpop</frontName>
				</args>
			</silverpop>
			<customer>
				<args>
					<modules>
						<Gsm_Silverpop before="Mage_Customer">Gsm_Silverpop_Customer</Gsm_Silverpop>
					</modules>
				</args>
			</customer>
			<newsletter>
				<args>
					<modules>
						<Gsm_Silverpop before="Mage_Newsletter">Gsm_Silverpop_Newsletter</Gsm_Silverpop>
					</modules>
				</args>
			</newsletter>
		</routers>
		<layout>
			<updates>
				<silverpop>
					<file>silverpop.xml</file>
				</silverpop>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<silverpop>
				<class>Gsm_Silverpop_Model</class>
				<resourceModel>silverpop_mysql4</resourceModel>
			</silverpop>
			<customer>
				<rewrite>
					<customer>Gsm_Silverpop_Model_Customer_Customer</customer>
				</rewrite>
			</customer>
<!--
			<newsletter>
				<rewrite>
					<subscriber>Gsm_Silverpop_Model_Newsletter_Subscriber</subscriber>
				</rewrite>
			</newsletter>
-->
			<!-- <sales>
				<rewrite>
					<order>Gsm_Silverpop_Model_Sales_Order</order>
				</rewrite>
				<rewrite>
					<order_shipment>Gsm_Silverpop_Model_Sales_Order_Shipment</order_shipment>
				</rewrite>
			</sales> -->
			<silverpop_mysql4>
				<class>Gsm_Silverpop_Model_Mysql4</class>
				<entities>
					<silverpop>
						<table>silverpop</table>
					</silverpop>
				</entities>
			</silverpop_mysql4>
		</models>
		<resources>
			<silverpop_setup>
				<setup>
					<module>Gsm_Silverpop</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</silverpop_setup>
			<silverpop_write>
				<connection>
					<use>core_write</use>
				</connection>
			</silverpop_write>
			<silverpop_read>
				<connection>
					<use>core_read</use>
				</connection>
			</silverpop_read>
		</resources>
		<blocks>
			<silverpop>
				<class>Gsm_Silverpop_Block</class>
			</silverpop>
			<customer>
				<rewrite>
					<account_dashboard_info>Gsm_Silverpop_Block_Customer_Account_Dashboard_Info</account_dashboard_info>
				</rewrite>
				<rewrite>
					<newsletter>Gsm_Silverpop_Block_Customer_Newsletter</newsletter>
				</rewrite>
			</customer>
		</blocks>
		<helpers>
			<silverpop>
				<class>Gsm_Silverpop_Helper</class>
			</silverpop>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<silverpop>
											<title>Store Silverpop Module Section</title>
										</silverpop>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
