<?xml version="1.0"?>
<config>
    <modules>
        <Stardigital_Productsalesreport>
            <version>0.1.0</version>
        </Stardigital_Productsalesreport>
    </modules>
    <frontend>
        <routers>
            <productsalesreport>
                <use>standard</use>
                <args>
                    <module>Stardigital_Productsalesreport</module>
                    <frontName>productsalesreport</frontName>
                </args>
            </productsalesreport>
        </routers>
        <layout>
            <updates>
                <productsalesreport>
                    <file>productsalesreport.xml</file>
                </productsalesreport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <productsalesreport>
                <use>admin</use>
                <args>
                    <module>Stardigital_Productsalesreport</module>
                    <frontName>productsalesreport</frontName>
                </args>
            </productsalesreport>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <productsalesreport translate="title" module="productsalesreport">
                        <title>Product Sales Report</title>
                        <action>productsalesreport/adminhtml_productsalesreport/index</action>
                    </productsalesreport>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Stardigital_Productsalesreport>
                            <title>Productsalesreport Module</title>
                            <sort_order>10</sort_order>
                        </Stardigital_Productsalesreport>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <productsalesreport>
                    <file>productsalesreport.xml</file>
                </productsalesreport>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <productsalesreport>
                <class>Stardigital_Productsalesreport_Model</class>
                <resourceModel>productsalesreport_mysql4</resourceModel>
            </productsalesreport>
            <productsalesreport_mysql4>
                <class>Stardigital_Productsalesreport_Model_Mysql4</class>
                <entities>
                    <productsalesreport>
                        <table>productsalesreport</table>
                    </productsalesreport>
                </entities>
            </productsalesreport_mysql4>
        </models>
        <resources>
            <productsalesreport_setup>
                <setup>
                    <module>Stardigital_Productsalesreport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productsalesreport_setup>
            <productsalesreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productsalesreport_write>
            <productsalesreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productsalesreport_read>
        </resources>
        <blocks>
            <productsalesreport>
                <class>Stardigital_Productsalesreport_Block</class>
            </productsalesreport>
        </blocks>
        <helpers>
            <productsalesreport>
                <class>Stardigital_Productsalesreport_Helper</class>
            </productsalesreport>
        </helpers>
    </global>
</config>
