<?xml version="1.0"?>
<config>
    <modules>
        <Stardigital_Ordercountry>
            <version>0.1.0</version>
        </Stardigital_Ordercountry>
    </modules>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Stardigital_Ordercountry>
                            <title>Ordercountry Module</title>
                            <sort_order>10</sort_order>
                        </Stardigital_Ordercountry>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <ordercountry>
                <class>Stardigital_Ordercountry_Model</class>
                <resourceModel>ordercountry_mysql4</resourceModel>
            </ordercountry>
            <ordercountry_mysql4>
                <class>Stardigital_Ordercountry_Model_Mysql4</class>
                <entities>
                    <ordercountry>
                        <table>ordercountry</table>
                    </ordercountry>
                </entities>
            </ordercountry_mysql4>
        </models>
        <resources>
            <ordercountry_setup>
                <setup>
                    <module>Stardigital_Ordercountry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordercountry_setup>
            <ordercountry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordercountry_write>
            <ordercountry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordercountry_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Stardigital_Ordercountry_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ordercountry>
                <class>Stardigital_Ordercountry_Helper</class>
            </ordercountry>
        </helpers>
    </global>
</config>
