<?xml version="1.0"?>
<config>
  <modules>
    <StarDigital_Videos>
      <version>0.1.0</version>
    </StarDigital_Videos>
  </modules>
  <frontend>
    <routers>
      <videos>
        <use>standard</use>
          <args>
            <module>StarDigital_Videos</module>
            <frontName>videos</frontName>
          </args>
      </videos>
    </routers>
		<layout>
		  <updates>
			<videos>
			  <file>videos.xml</file>
			</videos>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <videos>
        <class>StarDigital_Videos_Helper</class>
      </videos>
    </helpers>
	<blocks>
	  <videos>
		<class>StarDigital_Videos_Block</class>
	  </videos>
	</blocks>
	<models>
	  <videos>
		<class>StarDigital_Videos_Model</class>
		<resourceModel>videos_mysql4</resourceModel>
	  </videos>
	  <videos_mysql4>
		<class>StarDigital_Videos_Model_Mysql4</class>
		<entities>		  
			  <videos>
				<table>videos</table>
			  </videos>
        </entities>
	  </videos_mysql4>
	</models>
	<resources>
	  <videos_setup>
		<setup>
		  <module>StarDigital_Videos</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </videos_setup>
	  <videos_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </videos_write>
	  <videos_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </videos_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <videos>
	    <use>admin</use>
		<args>
		  <module>StarDigital_Videos</module>
		  <frontName>videos</frontName>
		</args>
	  </videos>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <videos module="videos">
		<title>Videos</title>
		<sort_order>100</sort_order>
		<children>
		  <videos module="videos">
		    <title>Manage Videos</title>
			<sort_order>0</sort_order>
			<action>videos/adminhtml_videos</action>
		  </videos>
		</children>
	  </videos>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<videos translate="title" module="videos">
			  <title>Videos</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <videos translate="title">
			<title>Manage Videos</title>
			<sort_order>0</sort_order>
		  </videos>
			  </children>
			</videos>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<videos>
		  <file>videos.xml</file>
		</videos>
	  </updates>
	</layout>
  </adminhtml>
</config> 