@font-face {
    font-family: 'AvenirRoman';
    src: url('../fonts/AvenirRoman.eot');
    src: url('../fonts/AvenirRoman.eot') format('embedded-opentype'),
         url('../fonts/AvenirRoman.woff2') format('woff2'),
         url('../fonts/AvenirRoman.woff') format('woff'),
         url('../fonts/AvenirRoman.ttf') format('truetype'),
         url('../fonts/AvenirRoman.svg#AvenirRoman') format('svg');
}




.all-review{  width:80%; margin:30px auto;}
.all-review .yotpo{ float:left; margin-left:2%; font-size:15px;}
.all-review #reviewlink{ float:right; margin-right:2%; font-size:13px; text-decoration:underline}
.all-review #reviewlink:hover{text-decoration:none; }
.all-review #reviewlink:after{content: "> ";float: right; font-size:14px; padding-left:5px; line-height:15px;}

.all-review .yotpo .yotpo-icon{ font-size:15px !important} 
.all-review  .yotpo .text-m{ font-size:13px !important}
.plus-box {
	width: 150px;
	float: left;
	margin-top: 24px;
	margin-bottom: 48px;
}
.free-text-label.showmobile {
	display: none;
}
.plus-box .minus, .plus-box .plus {
	background: #c9c8c6 none repeat scroll 0 0;
	color: #fff;
	float: left;
	cursor: pointer;
	font-size: 23px;
	height: 30px;
	text-align: center;
	width: 34px;
}
.plus-box input {
	float: left;
	margin: 0px !important;
}
.cms-home .popup-exit-st {
	position: absolute;
	right: -10px;
	top: -15px;
	width: 40px;
	height: 40px;
	z-index: 99999;
	display: block;
	background-size:100%;
	cursor: pointer;
}
#close_popup {
	height: 40px;
	margin-right: -30px !important;
	margin-top: -84px !important;
	width: 40px;
	background-size:100%;
}
.catalog-product-view .plus-box {
	margin-bottom: 48px;
}
.catalog-product-view .plus-box .minus, .catalog-product-view .plus-box .plus {
	height: 49px;
	line-height: 55px;
	width: 44px;
}

/*
 @media (min-width: 600px) and (max-width: 767px) {

#homepage-newsletter{ height:78px;}
#homepage-newsletter #homepage-newsletter-form input {
    
    height: 47px;
    margin: 16px 0 0;
    padding-left: 4px;
    width: 190px;
    font-size: 19px;
}


#homepage-newsletter #homepage-newsletter-form button {
    
    height: 49px;
    margin: 16px 0 0 8px;
   
   
}
.home-view-button button.button span {
    
    padding: 13px 15px 8px 15px !important;
    font-size: 20px;
}

}

*/
@media only screen and (max-width: 767px) {
	
.new-launch .addto-campain button.button{
	max-width: 100%;
    width: 100%;
    padding: 0px !important;
}

.new-launch .addto-campain button.button span {
	padding: 5px 0px 4px;
	width:100%;
}

.mobile.welcome-mob-category{  overflow: inherit;}

.category-products #content-center-text  .products-grid li:nth-child(2n+1){ clear:both}
.category-products #body-aurelia-products  .products-grid li:nth-child(2n+1){ clear:both}

.product-upsell-image img {
	display: inline-block;
}
body.catalogsearch-result-index .products-grid li, body.catalog-category-view .products-grid li {
	width: 50%;
	list-style: none !important;
	margin-bottom: 0px;
}
.catalog-product-view .plus-box .minus, .catalog-product-view .plus-box .plus {
	height: 59px;
	line-height: 59px;
	width: 50px;
}
.plus-box .qty {
	height: 50px
}
.back-product {
	top: 133px;
}
.back-product a {
	font-size: 14px;
}
.back-product::before {
	font-size: 14px;
}
.catalog-product-view .mob-product-content h1 {
	margin-top: 40px; 
	font-size: 24px;
}
.catalog-product-view .mob-product-content span {
	font-size: 18px;
	color: #777370;
}
.catalog-product-view .plus-box {
	margin-bottom: 0px;
}
.add-to-cart button.button > span {
	width: 100% !important
}
.product-essential {
	width: auto !important;
	margin: 0 15px !important;
	overflow-x:hidden;
	position:relative;
}
.product-img-box {
	width: 100% !important
}
.add-to-cart1 .plus-box {
	float: right;
	width: 155px;
}
.skintype {
	color: #bcbcbd;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	width: 100%;
	margin: 5px 0 5px 0px 
}
.skintype span {
	width: 83%;
	margin: auto;
	display: inline-block;
}
.pro {
	display: block;
	border: none;
}
.add-to-cart button.button > span span {
	font-size: 19px;
	padding-bottom: 18px;
	padding-top: 22px;
	text-align: center;
	width: 100%
}
.add-to-cart .add-to-cart {
	clear: none !important;
	color: inherit;
	display: inherit;
	margin-right: 182px;
}
.add-to-cart .add-to-cart:after {
	clear: none !important;
}
/*********/

.product-att-header, .product-shop .accordion-header, .product-shop .ui-accordion h3.ui-state-active {
	background: #c9c7c6 none repeat scroll 0 0 !important;
	color: #6d6e70 !important;
	font-size: 19px;
	line-height: 40px;
	margin-bottom: 3px;
	padding-top: 14px;
}
.ui-accordion h3 span:after {
	content: "> ";
	float: right;
	margin-right: 40px;
	font-size: 19px;
}
.ui-accordion h3.ui-state-active span::after {
	transform: rotate(-275deg);
}
.ui-accordion p {
	font-size: 18px;
	line-height: 24px;
}

.productInfo p {margin:0px !important; padding-top:10px; padding-bottom:10px;}
.ui-accordion h3 span {
	padding: 0 20px;
}
/******/
.yotpo .yotpo-regular-box{margin-top:0px !important}

.wrapper_box {
	overflow: inherit
}
#uniform-smpl_products {
	margin-top: 30px;
}
.gift-message-wrapper {
	margin-left: 0px;
}
.gift-wrap-holder label {
	margin-left: 0px;
}
.plus-box {
	margin-top: 9px;
	margin-bottom: 0px;
}
.catalog-product-view .plus-box {
	margin-top: 0px;
	margin-bottom: 0px;
}
.free-text-label {
	display: none !important;
}
.free-text-label.showmobile {
	display: block !important;
	font-size: 18px;
}
.free-text-label.showmobile span {
	font-size: 24px;
}
.free-text-label.showmobile span {
	float: left;
	width: 100%;
	top: 0px !important;
	padding: 3px 0px
}
.plus-box .minus, .plus-box .plus {
	height: 33px;
}
.btn-pop-remove {
	margin-top: 12px;
	float:right;
	margin-right:15px;
	width:32px !important; height:32px !important;
	background: url("../images/delete-new.png") no-repeat !important;
	   
}
div.checker span.checked {background-position:0 -23px;}
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {    /*background-image: url("../images/gift_message_check1.png") !important;  */  background-image: url("../images/radio-new.png")!important; background-size: 100% auto; background-position:0 0} 


.free-samples {
	border-top: #e9dbd3 solid 1px;
	border-bottom: #e9dbd3 solid 1px;
	background: #fcf5f0;
	min-height: 100px;
	margin-left: -10px;
	margin-right: -10px;
}
.free-samples span {
	background: none;
	top: 16px !important;
}
.free-text-label.showmobile {
	display: block !important;
	font-size: 18px;
	letter-spacing: 0;
	text-transform: none;
}
.shoppingbag {
	margin-top: 0px;
	padding-top: 0px;
	margin-right:0px;
}

.std img{ max-width:100% }

.volume-data {
    border-left: 1px solid #868280;
    display: inline-block;
    font-size: 13px;
    line-height: 11px;
    margin-left: 3px;
    padding-left: 5px;
}


.shoppingbag a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding-top: 30px;
	font-size: 20px;
}
.toggle-btn {
	background: url("../images/menu-bar1.png") no-repeat scroll center 24px;
	border-left: 1px solid #e7d8cd;
	height: 71px;
	width: 83px;
	margin-top: 0;
}
.toggle-btn.active {
	background: url("../images/close-img1.png") no-repeat scroll center 33px;
}
.cms-home .mobile.welcome-mob-category {
	padding-top: 19px;
}
.ourbest {
	width: 100%;
	float: left;
	margin-top: 8px;
	text-align: center
}
.ourbest img {
	width: 230px;
}
.homebutton-bottom {
	border-top: 2px solid #ede4dc;
	float: left;
	padding-top: 12px;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom:-15px;
}
.home-view-button button {
	display: inline-block;
	margin: 0 7px;
	width: 163px;
	height: auto;
}
.googleplus {
	display: none !important;
}
.mar-right {
	margin-right: 95px;
	margin-left: 40px;
}
.category-title h1 span {
	background: none;
	top: 0px !important;
	padding: 0px 0 0 20px;
	font-size: 19px;
	line-height: 59px;
	background: url("../images/up-arrowm.png") no-repeat scroll right 22px;
	display: block;
}
.category-title h1.shown span {
	background: url("../images/down-arrowm.png") no-repeat scroll right 22px;
}
.category-title h1 {
	background: #c9c7c6;
	border: none;
	text-align: left !important;
	height: 59px;
	cursor: pointer;
	padding-right: 20px;
}
.page-title br {
	display: none;
}
.category-title {
	padding-top: 4px;
}
.catalog-category-view .category-products {
	display: none;
	opacity: 1 !important;
	width: 100% !important;
	padding:0 !important;
	
}
.mobilesearchbox .mobile-link {
	display: block;
	background: #95918e;
}
.mobilesearchbox .mobile-link ul li:last-child {
	background: #cac8c6;
	font-size: 18px;
	text-align: left;
}
.mobilesearchbox .mobile-link ul.cat li a {
	color: #fff;
	font-size: 18px;
	padding-left: 40px;
}
.mobilesearchbox .mobile-link ul.cms li a {
	color: #6d6e70;
	font-size: 18px;
	padding-left: 40px;
}
.mobilesearchbox .mobile-link ul li {
	border-bottom: 1px solid #ada8a5;
	line-height: 55px;
	text-align: left;
}
.mobilesearchbox {
/*	display: none */
} 
.mobilesearchbox {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 100%;
	position: fixed;
	 right:-1000px; 
	top: 0;
	width: 100%;
	overflow-y: scroll;
	border: #000 solid 1px;
	z-index: 9999;
}
.mobile.header #nav-floater {
	overflow: visible
}
.mobilesearchbox .toggle-btn {
	background: url("../images/close-img1.png") no-repeat scroll center 33px;
	float: right;
	margin-right: 0px;
	border: none;
}
.mobilesearchbox .search-box input[type="submit"] {
	background: #fff url("../images/search-icon-m.jpg") no-repeat scroll 0px 0px;
	border: medium none;
	font-size: 0;
	height: 54px;
	position: absolute;
	right: 0;
	cursor: pointer;
	top: 0;
	width: 54px;
}
.mobilesearchbox .search-box input[type="text"] {
	background: #ffffff none repeat scroll 0 0;
	border: medium none;
	color: #9c9b9b;
	font-size: 18px;
	padding: 15px 10px;
	width: 90%;
	float: left;
	background: none;
	text-transform: uppercase;
}
.mobilesearch .search-box {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #95918e;
	float: left;
	height: 54px;
	margin: 20px 0;
	position: relative;
	width: 100%;
}
.mobilesearch {
	width: 100%;
	float: left;
	background: #fcf5f0;
}
.mobilesearch .signbtn-box {
	border-top: 1px solid #95918e;
	float: left;
	padding-bottom: 30px;
	padding-top: 30px;
	width: 100%;
}
.signbtn-box .inner-box {
	margin: 0 40px;
	text-align: center;
}
.inner-box ul {
	margin: 0 -1%;
}
.inner-box li {
	width: 48%;
	float: left;
	margin: 0 1%;
	background: #95918e;
	height: 54px;
	color: #fff;
	line-height: 55px;
	text-transform: uppercase;
}
.inner-box li a {
	color: #fff;
	font-size: 18px;
	display: block;
	width: 100%;
}
.header h1.logo img {
	width: auto;
}
html .gs-buttons.gs-floating {
	margin-top: -60px !important;
	display: none !important;
}
/****************/


.rightsec {
	display: none;
}
.leftsec {
	width: 100%;
}
.megamenu08 {
	float: none;
	background: none;
	min-height: inherit;
	border: none;
}
.mengamenu {
	width: 100%;
	float: left;
	padding: 0px;
}
.mengamenu ul {
	margin: 0px;
}
.mengamenu1 {
	float: left;
	letter-spacing: 0;
	padding: 0px 0 0;
	text-align: left !important;
	width: 100%;
}
#main-nav.blockeasing {
	float: left;
	width: 100%;
	background: none;
	box-shadow: none;
	padding: 0px;
	border: none;
}
#main-nav.blockeasing li {
	border-right: 1px solid #bab6b2;
	display: inline-block;
	padding: 0px !important;
	min-width: 16px;
	float: left;
	width: 100%;
	background: none;
}
#main-nav.blockeasing a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding-left: 40px !important;
	color: #6d6e70 !important;
	font-size: 18px;
	line-height: 53px;
}
#main-nav.blockeasing ul li a {
	padding-left: 40px;
}
#main-nav.blockeasing .white ul li a {
	color: #6d6e70 !important
}
.mengamenu ul.ul, .mengamenu1 ul, .mengamenu ul {
	margin: 0 0 0px 0px;
	padding: 0;
	background: #cac8c6;
	display: none;
}
.mengamenu ul.ul li a, .mengamenu1 ul li a, .mengamenu ul li a {
	padding-left: 40px !important;
	font-size: 18px !important;
}
.mengamenu ul li {
	border-bottom: #dfdedd solid 1px;
	font-size: 18px;
}
#main-nav.blockeasing .sub-navigation {
	background: #cac8c6 !important;
	border: 0;
	box-sizing: border-box;
	left: 0% !important;
	position: relative;
	top: 0;
	width: 100%;
	float: left;
	z-index: 99;
}
.nav-dropdown div span {
	background: none;
}
#main-nav.blockeasing .sub-navigation li a {
	background: none !important;
	padding:14px 0 10px 40px !important;
	width: auto;
	line-height: inherit;
	
}
#main-nav.blockeasing .sub-navigation li {
	border-top: #dfdedc solid 1px !important;
	padding: 0px 0 0 40px;
}
.mengamenu h2, .mengamenu1 h2 {
	letter-spacing: 0.1em;
	margin: 0px 0 0px 0px;
	padding: 0px 0px 0px 40px;
	border-bottom: #ada8a5 solid 1px;
	line-height: 53px;
	display: block;
	color: #fff;
}
.mobilesearchbox .mobile-link ul li ul li {
	padding-left: 40px;
}
.mobilesearchbox .mobile-link ul li ul li a {
	font-size: 18px !important;
}
.mengamenu h2::after, .mengamenu1 h2::after {
	content: "> ";
	float: right;
	margin-right: 40px;
}
.catalog-category-view .col1-layout .col-main {
	padding-bottom: 40px;
}
.product-banner {
	margin-bottom: 47px;
}
.hometagline {
	height: 38px;
	background: #cac8c6;
	float: left;
	width: 100%;
	line-height: 41px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}
.home-mobile-sicons {
	float: none
}
.footer-mobile button#submit {
	height: 30px !important;
}
.footer-mobile input {
	height: 30px !important;
	width: 100%;
	background-size: 100% 30px;
}
.newsletter-margin {
	margin-right: 74px;
}
.mengamenu h2:first-child {
	display: none;
}
#wraper_ajax .wrapper_box {
	margin: 0 30px;
}
.cart .input-label {
	display: none
}
.free-sample-link .checker {
	margin-top: 28px;
}
.sample-to-order {
	margin: 28px 10px 0 10px
}

.cart.mobile .sample-to-order {margin:28px 0 0; padding:0 15px;}
#shopping-cart-table  #cart-item:nth-child(2){ border-top:#000 solid 1px;}

body.checkout-cart-index .sample-to-order button span {
	width: 100%;
	float: left;
	margin-left: 0px;
	padding: 12px 0px;
	font-size: 20px;
}
body.checkout-cart-index .sample-to-order button span span {
	padding: 0px;
}
body.checkout-cart-index .sample-to-order button {
	width: 100%;
	height: auto;
	float: left;
}
.cart .cart-collaterals div.col2-set {
	width: 100%;
	float: left;
	margin: 0px 0 0 0px;
}
.cart .totals {
	background: none;
}
.giftwrap_header h2 {
	font-size: 24px;
}
.gift-holder p {
	font-size: 18px;
}
body.checkout-cart-index .btn-proceed-checkout span {
	padding: 0px 0px;
}
.cart .totals .checkout-types span span {
	padding: 24px 0 18px;
	font-size: 20px;
}
.cart .totals .checkout-types {
	padding: 0px !important
}
.cart-right-col .footer {
	float: left;
	width: 100%;
	margin-top: 10px;
	padding: 0px;
}
.cart-right-col .footer button {
	float: left;
	width: 100%;
	height: auto;
}
body.checkout-cart-index .cart-right-col .footer button span {
	float: left;
	font-size: 20px;
	/*padding: 6px 0px 4px 0;*/
	width: 100%
}
.cart .page-title h1 {
	font-size: 24px;
	color: #868280;
	line-height: inherit;
	margin-bottom: 8px;
	margin-top: 12px;
}
body.checkout-cart-index .title-buttons .btn-proceed-checkout span {
	font-size: 20px;
	padding: 15px 15px 10px 15px;
}
body.checkout-cart-index .title-buttons .btn-proceed-checkout span span {
	font-size: 20px;
	padding: 0px 0px;
}
.cart .product-collateral li.wishlist-list {
	width: auto; margin-right:0px !important;
}
.product-collateral h2 span {
	font-size: 24px;
	top: -16px !important
}
.title-buttons ul.checkout-types li button.button {
	margin-top: 7px;
}
div#main-nav-top {
	padding-right: 0px !important
}
#main-nav.blockeasing .white a {
	color: #fff !important;
}
#main-nav.blockeasing a.parent-menu:after,#main-nav.blockeasing .child-menu:after {
	content: "> ";
	float: right;
	margin-right: 20px; font-size: 13px;
	/*content:url("../images/up-arrowm1.png"); padding-top:2px; */
}
#main-nav.blockeasing a.parent-menu.active{  background:#cac8c6  !important; color: #6d6e70 !important; border-bottom:#dfdedc  solid 1px;}

#main-nav.blockeasing a.parent-menu.active:after ,#main-nav.blockeasing .child-menu.active:after{
transform: rotate(90deg);
}
.product-collateral .bx-wrapper .bx-controls-direction a {
	top: 25%;
	width: 13px;
	height: 15px;
}
.product-collateral .bx-wrapper .bx-prev {
	left: 2px;
}
.product-collateral .bx-wrapper .bx-next {
	right: 0px;
	background-position: right 0px
}
.product-view .box-up-sell.box-up-sell-new h2 {
	border-bottom: 0 none;
	margin: 45px 0 -11px;
	padding: 0;
}
.product-shop .ui-accordion-content {
	margin-bottom: 0px;
	margin-top: 0px;
}
#more_read b {
	text-decoration: underline;
}
.short-review {
	background: #fff;
	float: left;
	margin-top: 5px;
}
.short-review:after {
	display: none;
}
.social-icon-mobile-list li{ width:19.667%}
}

@media only screen and (max-width: 540px) {
.hometagline {
	font-size: 14px;
}
.inner-box li a {
	font-size: 14px;
}
.wrapper_box .wrapper_box_inner {
	overflow: scroll;
	height: 250px;
}
.add-to-cart .add-to-cart {
	margin-right: 170px;
}
}

@media (min-width: 480px) and (max-width: 539px) {
body.checkout-cart-index .title-buttons .btn-proceed-checkout span {
	font-size: 12px !important;
	padding: 13px 10px 10px !important
}
body.checkout-cart-index .title-buttons .btn-proceed-checkout span span {
	padding: 0px !important
}
.cart .page-title h1 {
	font-size: 16px;
}
.giftwrap_header h2 {
	font-size: 18px;
}
.gift-holder p {
	font-size: 14px;
}
}

@media only screen and (max-width: 767px) { 
.yotpo-display-wrapper{min-height:25px; display:block}
.col1-layout .products-grid .product-info .protitle{width:88%; margin:0 auto; float:none}
.cart-item .btn-pop-remove{margin:0 0 0 0; position:absolute; right:10px; background-size:100% 100%!important; width:18px!important; height:20px!important; top:48px; } 
.cart-item .pro-remove .btn-pop-remove{top:auto; margin-top:6px;}
 
.popup-product-price{margin-left:0!important; padding-left:0!important;} 	
.product-collateral .bx-wrapper .bx-prev {
	left: 0px;
}
.product-collateral .bx-wrapper .bx-next {
	right: 0px;
}
/**********/
.free-text-label.showmobile span {
	font-size: 18px;
}
.free-text-label.showmobile {
	font-size: 13px;
}
body.checkout-cart-index .sample-to-order button span {
	font-size: 12px !important;
	padding: 11px 0px 9px 0;
}
body.checkout-cart-index .sample-to-order button span span {
	padding: 0px;
	font-size: 12px !important;
}
.giftwrap_header h2 {
	font-size: 16px;
}
.gift-holder p {
	font-size: 13px;
}
.cart .totals .checkout-types span {
	padding: 0px;
}
.cart .totals .checkout-types span span {
	font-size: 12px !important;
	padding: 15px 0 11px
}
body.checkout-cart-index .cart-right-col .footer button span {
	font-size: 12px !important;
}
body.checkout-cart-index .title-buttons .btn-proceed-checkout span {
	font-size: 11px !important;
	padding: 11px 10px 10px !important
}
body.checkout-cart-index .title-buttons .btn-proceed-checkout span span {
	padding: 0px !important;
	font-size: 11px !important;
}
.cart .page-title h1 {
	font-size: 13px;
}
.cart .boxgrid button {
	width: auto;
	height: auto;
}
/***********/

.back-product {
	top: -10px;
}
.product-essential.no-scroll-form{position:relative;}

.catalog-product-view .mob-product-content h1 {
	font-size: 16px; letter-spacing:0.1em;
}
.catalog-product-view .mob-product-content span {
	font-size: 12px; font-family: arial; letter-spacing:1px;
}
.add-to-cart .add-to-cart {
	margin-right: 100px;
}
.skintype {
	font-size: 14px;
	line-height: 16px;
}
.add-to-cart button.button  span { padding:0px;}
.add-to-cart button.button  span span {
	font-size: 13px;
	padding: 13px 0 12px 0px;
}
.ui-accordion h3 span {
	padding:5px 10px 0; 
}
.product-upsell-details a.view24{font-size:14px;} 
.checkout-cart-index a.view24{font-size:14px; min-height: 0!important; color:#868280} 
.overlay .popup-overlay-st{z-index:1000}

.product-att-header, .product-shop .accordion-header, .product-shop .ui-accordion h3.ui-state-active {
	background: #c9c7c6 none repeat scroll 0 0 !important;
	color: #6d6e70 !important;
	font-size: 11px;
	line-height: 28px;
	margin-bottom: 3px;
	padding-top:8px;
}

a.addtobag, .wrapper_box #shopping_cart, .wrapper_box #continue_shopping{letter-spacing:0.1em}
.catalog-product-view .plus-box .minus, .catalog-product-view .plus-box .plus {
	height: 38px;
	line-height: 38px;
	width: 25px;
}
.plus-box .qty {
	height: 29px;
	width: 30px !important
}
.ui-accordion p {
	font-size: 13px;
	line-height: 18px;
}
.product-collateral h2 span {
	font-size: 17px;
	top: -13px !important;
}
.ui-accordion h3 span::after {
	float: right;
	font-size: 12px;
	margin-right: 15px;
	position: relative;
	top: 2px;
}
.add-to-cart1 .plus-box {
	float: right;
	width: 90px;
}
.free-text-label.showmobile {
	font-size: 13px;
}
.wrapper_box .wrapper_box_inner {
	overflow: scroll;
	height: 350px;
}
#main-nav.blockeasing .sub-navigation li a {
	padding-left: 20px !important;
	font-size: 10px !important;
}
#main-nav.blockeasing .sub-navigation li.nav-dropdown li a{padding-left:30px!important; text-transform:none}
#main-nav.blockeasing .sub-navigation li.nav-dropdown a.child-menu {padding-left:20px!important;}

.inner-box li a {
	font-size: 10px;
}
#main-nav.blockeasing a {
	font-size: 13px; 
	line-height:normal;
	padding:14px 0 10px 20px!important
}
.mengamenu h2, .mengamenu1 h2 {
	padding-left: 20px;
	line-height: 40px;
	font-size: 13px;
}
.footer-mobile button#submit {
	height: 32px !important; 
	padding:8px 9px 8px;
}
.footer-mobile input {
	height: 32px !important;
	width: 90%;
}
.hometagline {
	height: 25px;
	line-height: 26px;
	font-size: 11px;
	
}

.hometagline a{ color:#fff; text-decoration:none;  font-family:Arial; letter-spacing:1px}

.catalog-category-view .col1-layout .col-main {
	padding-bottom: 20px;
}
.product-banner {
	margin-bottom: 27px;
	margin-top: 0px;
}
.header h1.logo img {
	width: 115px;
}
.home-view-button button.button span {
	line-height: 29px !important;
	padding: 2px 0px 0px 0px !important;
	width: 100% !important;
	font-size: 12px;
	margin-left: 0px !important;
	float: left;
}
.ourbest {
	width: 100%;
	float: left;
	text-align: center
}
.ourbest img {
	width: 230px;
}
.shoppingbag a {
	font-size: 12px;
	padding-top: 20px;
}
.product-image > img{ max-width:100%; height:auto;}
.shopping-bag-link span{    font-family: 'AvenirRoman'; color:#646260 !important}
.shopping-bag-link span.price{    font-family: 'AvenirRoman'; color:#646260 !important}

.gs-mobile{ display:none !important}

body.gs-mobile-bottom-medium {
    padding-bottom: 0px !important;
}
.toggle-btn {
	background: url("../images/menu-bar1.png") no-repeat scroll center 18px;
	border-left: 1px solid #e7d8cd;
	height: 41px;
	margin-top: 0;
	width: 42px;
	background-size: 22px;
}
.mobilesearchbox .toggle-btn {
	background: url("../images/close-img1.png") no-repeat scroll center 18px;
	float: right;
	margin-right: 0px;
	border: none;
	background-size: 22px;
}
.mobilesearch .search-box {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #95918e;
	float: left;
	height: 32px;
	margin: 10px 0;
	position: relative;
	width: 100%; display:none;
}
.mobilesearchbox .search-box input[type="text"] {
	padding: 8px 10px;
	font-size: 14px;
}
.mobilesearchbox .search-box input[type="submit"] {
	background: #fff url("../images/search-icon-m.jpg") no-repeat scroll 0 0;
	height: 32px;
	width: 35px;
	background-size: 100%;
}
.toggle-btn.active {
	background: url("../images/close-img1.png") no-repeat scroll center 18px;
	background-size: 22px;
}
.mar-right {
	margin-left: 20px;
	margin-right: 60px;
}
.mobilesearch .signbtn-box {
	padding-bottom: 14px;
	padding-top: 15px;
}
.signbtn-box .inner-box {
	margin: 0 20px 0 20px;
	text-align: center;
}
.inner-box li a {
	font-size: 14px; letter-spacing: 0.1em;
}
.inner-box li {
	height: 35px;
	line-height: 38px;
}
.mobilesearchbox .mobile-link ul li {
	line-height: inherit;
	padding: 9px 0px 8px 0px
}
.mobilesearchbox .mobile-link ul.cat li a {
	color: #fff;
	font-size: 14px;
	padding-left: 20px;
}
.category-title h1 span {
	background: none;
	top: 0px !important;
	padding: 0px 0 0 15px;
	font-size: 12px;
	line-height: 43px; 
	/*background: url("../images/up-arrowm.png") no-repeat scroll right 10px;*/
	display: block;
}

.category-title h1 span:after{content:">"; float:right;}
.category-title h1.shown span:after{transform: rotate(90deg);}
.boxgrid.captionfull a img {
	margin-top: 0px;
}
.category-title h1.shown span {
/*	background: url("../images/down-arrowm.png") no-repeat scroll right 10px;*/
	background:none;
}
.category-title h1 {
	background: #c9c7c6;
	border: none;
	text-align: left !important;
	height: 43px;
	cursor: pointer;
	padding-right: 10px;
}
.checkout-cart-index .you-may-also .category-products button.button {
	height: auto;
	margin-top: 10px
}
.checkout-cart-index .you-may-also .category-products button.button span {
	padding: 5px 12px 3px 12px !important
}
.checkout-cart-index .you-may-also .category-products button.button span span {
	padding: 0px !important
}
.checkout-cart-index table {
	width: 100%;
}
.footer h2 {
	color: #868280 !important;
}
#footer-lower {
	padding-left: 7px;
}
.cart-table .product-name {
	text-transform: none;
}

.cart-item .product-name{text-transform: none; width:46%; display: inline-block;} 




}
.ratings {
	display: inline-block;
}
.standalone-bottomline a {
	width: auto !important;
	float: none !important
}
.yotpo-stars {
	display: inline-block;
}
.yotpo .pull-left {
	text-align: center;
}
.standalone-bottomline {
	display: inline-block;
	font-size: 12px !important;
}
.yotpo {
	text-align: center !important;
}
.yotpo .text-m {
	font-size: 9px !important;
	left: 1px;
	margin-top: -9px;
	position: relative;
	top: -3px;
}
.yotpo .yotpo-icon {
	font-size: 11px !important
}

@media only screen and (max-width: 480px) {
.cart .totals .checkout-types span span {
	font-size: 12px !important;
}
}

@media only screen and (max-width: 767px) {
*{-webkit-text-size-adjust: 100%;}
.product-shop .skintype span{width:100%}	
#upsell-product-table .bx-viewport {
	height: 320px !important
}

li.wishlist-list .product-name, li.wishlist-list .product-name a{ border-top:none !important}




.product-collateral  .product-name{ min-height:40px;}
.cart li.wishlist-list a{ min-height:41px;}

.sample-to-edit{ padding:0 15px; margin-top:25px;}
.sample-to-edit button{ width:100%; float:left; height:auto;}
.sample-to-edit button span{ width:100%; display:block}


.skintype  .short-description{ display:block}
 .short-description{ display:none}
 
.skintype .short-description .std{ font-size:12px !important; Xfont-style:normal !important;}


.fancybox-close{ right:-10px !important;} 
/*
.fancybox-overlay iframe{ width:100% !important}
 
*/
/* Icon 1 */
 /*
.toggle-btn {
  width: 40px;
  height: 41px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.toggle-btn  span {
  display: block;
  position: absolute;
  height: 2px;
  width: 22px;
  background: #727375;
  border-radius: 2px;
  opacity: 1;
  left: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggle-btn  span:nth-child(1) {
  top: 17px;
}

.toggle-btn  span:nth-child(2) {
  top: 24px;
}

.toggle-btn  span:nth-child(3) {
  top: 31px;
}

.toggle-btn.active span:nth-child(1) {
  top: 26px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.toggle-btn.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.toggle-btn.active span:nth-child(3) {
  top: 26px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
 */
 
}


@media only screen and (max-width: 479px) {

.all-review{  width:100%; margin:30px auto;}

.all-review .yotpo{ float:left; margin-left:2%; font-size:13px;}
.all-review #reviewlink{ float:right; margin-right:2%; font-size:11px;}

.all-review .yotpo .yotpo-icon{ font-size:13px !important}
.all-review  .yotpo .text-m{ font-size:11px !important}
}





@media only screen and (max-width: 359px) {
.home-view-button button.button span {
	font-size: 10px !important
}
.home-view-button button {
	width: 137px;
}
.product-collateral h2 span {
	font-size: 12px;
	top: -10px !important;
}

.product-image > img{ margin-top:0px;}
.catalog-product-view .product-upsell-image .product-image > img, .checkout-cart-index .product-upsell-image .product-image > img{margin-top:0}	


.shoppingbag a{ font-size:11px; letter-spacing:0.1em}
.shopping-bag-link span{ font-size:11px}


.all-review{  width:100%; margin:25px auto;}

.all-review .yotpo{ float:left; margin-left:2%; font-size:13px;}
.all-review #reviewlink{ float:right; margin-right:2%; font-size:11px;}

.all-review .yotpo .yotpo-icon{ font-size:13px !important}
.all-review  .yotpo .text-m{ font-size:11px !important}
}


.cbp-spmenu {
    background: #3c3c3b none repeat scroll 0 0;
    box-shadow: 11px -1px 15px 0 rgba(0, 0, 0, 0.3) inset;
    position: fixed;
}
.cbp-spmenu p {
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    padding: 12px 0 0;
}
.cbp-spmenu h3 {
    background: #0d77b6 none repeat scroll 0 0;
    color: #afdefa;
    font-size: 1.9em;
    font-weight: 300;
    margin: 0;
    padding: 20px;
}
.cbp-spmenu li {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 300;
}
.cbp-spmenu li:last-child {
    padding: 0 0 15px 15px;
}
.cbp-spmenu li a {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 300;
}
.cbp-spmenu li a:hover {
    background: #5c5c5b none repeat scroll 0 0;
}
.cbp-spmenu li a:active {
    background: #afdefa none repeat scroll 0 0;
    color: #47a3da;
}
.cbp-spmenu-vertical {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    top: 0;
    width: 350px;
    z-index: 1000;
}
.cbp-spmenu-vertical li a {
    border-bottom: 1px solid #50504f;
    font-size: 20px;
    padding: 14px 15px;
}
.cbp-spmenu li.cross-img {
    margin-bottom: 30px;
    text-align: right;
    width: 100%;
}
.cbp-spmenu li.cross-img a {
    border-bottom: 0 none;
    float: right;
    height: 28px;
    margin-bottom: 10px;
    padding: 0;
    text-align: right;
    width: 28px;
}
.cbp-spmenu li.cross-img a:hover {
    background: rgba(0, 0, 0, 0) url("../../img/front/cross.png") no-repeat scroll 0 -28px;
}
.cbp-spmenu-vertical li span {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1d1d1b 0%, #393938 91%) repeat scroll 0 0;
    border-radius: 40px;
    display: inline-block;
    padding: 5px;
}
.cbp-spmenu-vertical li span a {
    border-bottom: 0 none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.cbp-spmenu-vertical li span a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.cbp-spmenu-horizontal {
    height: 150px;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
}
.cbp-spmenu-horizontal h3 {
    float: left;
    height: 100%;
    width: 20%;
}
.cbp-spmenu-horizontal a {
    border-left: 1px solid #258ecd;
    float: left;
    padding: 0.8em;
    width: 20%;
}
.cbp-spmenu-left {
    left: -350px;
}
.cbp-spmenu-right {
    right: -350px;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0;
}
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0;
}
.cbp-spmenu-push {
    left: 0;
    overflow-x: hidden;
    position: relative;
}
.cbp-spmenu-push-toright {
    left: 350px;
}
.cbp-spmenu-push-toleft {
    left: -350px;
}
.cbp-spmenu, .cbp-spmenu-push {
    transition: all 0.3s ease 0s;
}
@media screen and (max-width: 55.1875em) {
.cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
}
.cbp-spmenu-top {
    top: -110px;
}
.cbp-spmenu-bottom {
    bottom: -110px;
}
}
@media screen and (max-width: 767px) {
	

.mobile.header{position:fixed; background: #fcf5f0 url(../images/bg-tile.jpg) repeat top left; z-index:1000} 
.main-container{margin-top:76px;}

.shoppingbag a{letter-spacing:0.1em}	
.catalog-product-view .product-upsell-image .product-image > img, .checkout-cart-index .product-upsell-image .product-image > img{margin-top:0}	
.gift-message-fields textarea{-webkit-appearance: none;  border-radius: 0;}
.cbp-spmenu-vertical {
    padding: 0 10px;
}
.cbp-spmenu-right.cbp-spmenu-open {
    right: -20px;
}
.cbp-spmenu li.cross-img a {
    margin: 10px 20px 0 0;
}
.aurelia-new-category-products{ margin-bottom:0px;}

.cart-item.simplebox{ border-top:#000 solid 1px; }
.cart-item.simplebox a.product-image{ padding:0px;}
#shopping-cart-table .cart-item{ margin:0 20px}
.checkout-cart-index #shopping-cart-table .cart-item{ margin:0 0; position:relative; overflow:hidden}
#shopping-cart-table .product-image{ padding-left:0px; text-align:center; padding-right: 10px;}
.cart-item.simplebox .product-name{ margin-top:20px;}
.cart-item.simplebox .product-image > img{ margin-top:20px;}

.cms-page-view .ui-accordion h3.ui-state-default, .cms-page-view .ui-accordion h3.ui-state-active{background:none}
div.radio span {background-position:0 0;}
div.radio span.checked {background-position: 0 -23px;}

}

@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 767px) 
and (orientation : landscape) {
	.cart-item .btn-pop-remove{top:40px;}
	
}

@media(max-width: 360px) {
.shoppingbag a{letter-spacing:0} 
.col1-layout .products-grid .product-info .protitle{width:90%}
}

@media screen and (max-width: 320px) {
.hometagline{font-size:9px;} 
}
#new-aurelia-products #new-products br{ display:none;}
