<?xml version="1.0"?>
<config>
    <modules>
        <As_Emailpreview>
            <version>0.1.0</version>
        </As_Emailpreview>
    </modules>
    <frontend>
        <routers>
            <emailpreview>
                <use>standard</use>
                <args>
                    <module>As_Emailpreview</module>
                    <frontName>emailpreview</frontName>
                </args>
            </emailpreview>
        </routers>
        <layout>
            <updates>
                <emailpreview>
                    <file>emailpreview.xml</file>
                </emailpreview>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<emailpreview>
				<use>admin</use>
				<args>
					<module>As_Emailpreview</module>
					<frontName>emailpreview</frontName>
				</args>
			</emailpreview>
        </routers>
    </admin>
    <adminhtml>
		<!--menu>
			<emailpreview module="emailpreview">
				<title>Emailpreview</title>
				<sort_order>72</sort_order>               
				<children>
					<items module="emailpreview">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>emailpreview/adminhtml_emailpreview</action>
					</items>
				</children>
			</emailpreview>
		</menu-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<!--As_Emailpreview>
							<title>Emailpreview Module</title>
							<sort_order>10</sort_order>
						</As_Emailpreview>-->
						<emailpreview module="emailpreview">
							<children>
								<items module="emailpreview">
									<title>Manage Emailpreview</title>
									<sort_order>11</sort_order>
								</items>
							</children>
						</emailpreview>
						  <system>
                            <children>
                                <config>
                                    <children>
                                        <emailpreview>
                                            <title>Emailpreview Module</title>
                                        </emailpreview>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<emailpreview>
					<file>emailpreview.xml</file>
				</emailpreview>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <emailpreview>
                <class>As_Emailpreview_Model</class>
                <resourceModel>emailpreview_mysql4</resourceModel>
            </emailpreview>
            <emailpreview_mysql4>
                <class>As_Emailpreview_Model_Mysql4</class>
                <entities>
                    <emailpreview>
                        <table>emailpreview</table>
                    </emailpreview>
                </entities>
            </emailpreview_mysql4>
        </models>
        <resources>
            <emailpreview_setup>
                <setup>
                    <module>As_Emailpreview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emailpreview_setup>
            <emailpreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emailpreview_write>
            <emailpreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emailpreview_read>
        </resources>
        <blocks>
            <emailpreview>
                <class>As_Emailpreview_Block</class>
            </emailpreview>
        </blocks>
        <helpers>
            <emailpreview>
                <class>As_Emailpreview_Helper</class>
            </emailpreview>
        </helpers>
    </global>
	<!--default>
		<emailpreview>
			<emailpreview>
				<model>emailpreview/emailpreview</model>
				<field1>Default Text</field1>
			</emailpreview>
		</emailpreview>
	</default-->
</config>
